.cookies-info-bar-container{
    background-color: #333333;
    padding: 0.5em 0;
    width: 100vw;
    p{
        color: #8E8E8E;
        width: 50%;
        font-size: 0.7em;
        margin:1em 0;
    }

    i{
        color: #8E8E8E;
        height: 1em;
    }
}