.top-post-bar-avatar{
    max-width: 50px;
}

.avatar-and-author-container{
    padding: 0.5em;
    h3{
        padding: 0.5em;
    }
}

.post-options-container{
    padding: 0.5em;
    font-size: 2em;
}