.user-page-container{
    margin: 5em;
}

.avatar-container{
    margin: 1em;
    .avatar-image{
        vertical-align: middle;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}

.edit-avatar-photo-button{
}

.posts-owned-by-user-container{
    max-width: 80vw;
    margin: 0 auto;
}