form{
    background-color: white;
    border: 1px solid black;
    h1{
        margin: 0.5em;
        font-family: 'Galada';
    }
    .col{
        margin:0.5em
    }
    p{
        padding: 1em;
        margin: 1em 0;
    }
}