    .post-image{
        width: 100%;
        max-width: 614px;
        max-height: 614px;
        width: 614px;
        height: 614px;
        height: auto;
    }

    @media (max-width:700px){
        .post-image{
            max-width: 498px;
            width: 614px;
            height: 614px;
        }
    }