.under-post-bar-container{
    i{
        font-size: 2em;
    }
}

.liked{
        color: #ED4956;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ED4956;
    
}

.likes-number-container{
    padding: 0.5em;
}

.show-all-coments-container{
    padding: 0.5em;
}