.post-container{
    margin: 1em 0;
    border: 1px solid gray;
    max-width: 614px;
    i{
        margin: 0.5em;
    }
}

@media (max-width:700px){
    .post-container{
        max-width: 500px;
    }
}